@model IEnumerable<Pecas.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdFornecido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdFornecido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.FornecedorId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.FornecedorId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.FornecedorId })
            </td>
        </tr>
}
    </tbody>
</table>
