@model IEnumerable<Pecas.Models.Movimentacao>

@{
    ViewData["Title"] = "Movimentações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Nova Movimentação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdSaida)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.MovId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.MovId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.MovId })
            </td>
        </tr>
}
    </tbody>
</table>
